name: Tests
on:
  - push
  - pull_request
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Checkout API server 
      uses: actions/checkout@v4
      with:
        repository: ParaSync/DeltaAPI
        token: ${{ secrets.GITHUB_TOKEN }}
        path: DeltaAPI
    # - uses: actions/setup-node@v4
    #   with:
    #     node-version: lts/*
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: 1.3.1
    - name: Install dependencies
      run: bun ci
    - name: Install Playwright Browsers
      run: bunx playwright install --with-deps
    - name: Run tests
      run: DELTA_API_SERVER=DeltaAPI ./scripts/runTests.sh 
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
